.idea
.cache
__pycache__/
binding/dev/
test/dat/
tmp
*.so
*.o
*.mod
*.x
*~
*.aux
*.toc
*.out
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.synctex.gz
*.pyc
**.nfs*
**log.lammps
**log.cite
.ipynb_checkpoints/
.stignore
.stfolder
nohup.out
.idea
**.lammps
**.ipynb_checkpoints
dat
dat*
**__pycache__
sync
papers
venv
